@using Domain.Entities.Speech
@model IEnumerable<Speech>

@{
    ViewData["Title"] = "Аудиозаписи";
}

<p></p>

@if (Model == null || Model?.Any() == false)
{
    <span>Список аудиозаписей пуст</span>
}
else
{
    <table class="table table-striped table-bordered" style="width: 500px">
        <thead>
        <tr>
            <th scope="col" style="width: 80px">Id</th>
            <th scope="col" >Название</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Speech speech in Model)
        {
            <tr>
                <th scope="row">@speech.Id</th>
                <td>
                    <a href="@(Url.Action("View", new {id=speech.Id}))">@($"{speech.Name}")</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}